<!DOCTYPE html>
<html>
<head>
  <title>Applications administrator page</title>
</head>
<body>
 
<h1>Welcome <%= user.login %></h1>

<table>
<% user.applications.each do |a| %>
<tr>
  <td><%= a.name %></td>
  <td><%= a.url %></td>
  <td>
    <form action="/applications/<%= a.id %>" method="post">
      <input type="hidden" name="_method" value="delete">
      <input type="submit" value="Delete">
    </form>
  </td>
</tr>
<% end %>
</table>

<form action="/applications/new" method="get">
<input type="submit" value="Add application">
</form>

</body>
</html>
 

</body>
</html>
 
