<!DOCTYPE html>
<html>
<head>
  <title>Application registration</title>
</head>
<body>

<h1>Application Registration</h1>

<form action="/applications" method="post">
    <label>Name</label><br/>
    <input name="name" size="30" type="text"/><br/>
    <label>Url</label><br/>
    <input name="url" size="30" type="text"/><br/>
    <input name="commit" type="submit" value="Submit"/>
</form>

</body>
</html>
 
