<!DOCTYPE html>
<html>
<head>
  <title><%= @title %> page</title>
</head>
<body>

<h1><%= @title %></h1>

<form action=<%= @target %> method="post"/>
  <div class="field">
    <label for="session_login">Login</label><br />
    <input id="session_login" name="login" size="30" type="text" />
  </div>
  <div class="actions">
    <input name="commit" type="submit" value=<%= @button %> />
  </div>
</form>

</body>
</html>
 
