<!DOCTYPE html>
<html>
<head>
  <title>Home page</title>
</head>
<body>

<h1>Home page</h1>

<form action="/register" method="get">
<input type="submit" value="Register" >
</form>
<form action="/authentication" method="get">
<input type="submit" value="Log In" >
</form>


</body>
</html>
 
