<!DOCTYPE html>
<html>
<head>
  <title>Home page</title>
</head>
<body>
</body>
</html>
 
<h1>Welcome stranger, do you want to play to Hit the Dot ?</h1>

<form action="/protected" method="get">
<input type="submit" value="I want to play !!"/>
</form>

</body>
</html>
 
