<% content_for :head do %>
  <title>Applications administrator page</title>
<% end %>
<h2>You have registered the following applications : </h2>
<table>
<% user.applications.each do |a| %>
<tr>
  <td><%= a.name %></td>
  <td><%= a.secret %></td>
  <td>
    <form action="/applications/<%= a.id %>" method="post">
      <input type="hidden" name="_method" value="delete">
      <input type="submit" value="Delete">
    </form>
  </td>
</tr>
<% end %>
</table>

<form action="/applications/new" method="get">
<input type="submit" value="Add application">
</form>
 
