<% content_for :head do %>
  <title>Application registration</title>
<% end %>

Application Registration :<br/><br/>

<form action="/applications" method="post">
    <label>Name</label><br/>
    <input name="name" size="30" type="text"/><br/>
    <label>Secret</label><br/>
    <input name="secret" size="30" type="text"/><br/>
    <input name="commit" type="submit" value="Submit"/>
</form>
