Welcome <%= user.login %><br/>
<% if user.connections.length > 0 %>
You are currently connected to the following applications :<br/><br/>
<table>
<tr>
<td><u><b>Name</b></u></td>
</tr>
<% user.connections.each do |c| %>
  <tr>
    <td><%= c.application.name %></td>
  </tr>
<% end %>
</table><br/>
<% end %>
