<!DOCTYPE html>
<html>
<head>
  <title>User registration</title>
</head>
<body>

<h1>Registration</h1>

<form action="/users" method="post">
    <label>Login</label><br/>
    <input name="login" size="30" type="text"/><br/>
    <label>Password</label><br/>
    <input name="password" size="30" type="password"/><br/>
    <input name="commit" type="submit" value="Submit"/>
</form>

</body>
</html>
