<!DOCTYPE html>
<html>
<head>
  <title>Register page</title>
</head>
<body>

<h1>Registration</h1>

<form action="/registered" method="post">
  <div class="field">
    <label for="registration_login">Login</label><br />

    <input id="registration_login" name="login" size="30" type="text" />
  </div>
  <div class="field">
    <label for="registration_password">Password</label><br />
    <input id="registration_password" name="password" size="30" type="password" />
  </div>
  <div class="actions">
    <input name="commit" type="submit" value="Submit registration" />

  </div>
</form>

</body>
</html>

